<div style="position: relative;" class="col-md-12">
<carousel>
    <slide>
      <img src="../../../assets/images/image.jpg" alt="first slide" style="display: block; width: 100%;margin-top: 20px; height: 650px;">
    </slide>
    <slide>
      <img src="../../../assets/images/image2.png" alt="second slide" style="display: block; width: 100%;margin-top: 20px; height: 650px;">
    </slide>
    <slide>
      <img src="../../../assets/images/image3.jpg" alt="third slide" style="display: block; width: 100%;margin-top: 20px; height: 650px;">
    </slide>
  </carousel>
  <div style="position: absolute; bottom: 50px;">
    <h1 style="color:aqua;font-family:Courier New;font-style:oblique;font-weight:bold">Let the Cricket Begin</h1>
  </div>
</div>

<app-testimonial></app-testimonial>