<div class="header-container">
   
  <div style="float: right; margin-right: 20px;">  
    <div class="col-md-3">
      <button type="button" class="btn header-container" (click)="openCart()">
            <i class="fa fa-shopping-cart top-header-icons" aria-hidden="true"></i>
          </button>
    </div>
    <div *ngIf="!username" class="col-md-offset-3 col-md-1" style="margin-right: 50px;">
      <button type="button" class="btn header-container" (click)="openLogin()">
      <i class="fa fa-sign-in top-header-icons" aria-hidden="true"></i>
    </button>
    </div>
    <div class="col-md-offset-1 col-md-1" *ngIf="username" (click)="signout(userId)">
      <button type="button" class="btn header-container" >
         <i class="fa fa-sign-out top-header-icons" aria-hidden="true"></i>
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a href="/index"><img src="../../../assets/images/logo.png" class="img-dimension"/></a>
    </div>
    <p *ngIf="username" style="float:right">welcome:{{username}}</p>  
    <ul class="nav nav-tabs">
   
      <li role="presentation" (click)="goToHome()" class="active header-navs">Home</li>
      <li role="presentation" (click)="goTovideos()" class="header-navs">Videos</li>
      <li role="presentation" (click)="goToStats()" class="header-navs">Players-Stats</li>
      <li role="presentation" (click)="goToShopping()" class="header-navs">Merchandise</li>
      <!-- <li role="presentation" (click)="goToChats()" class="header-navs">Chat Here</li> -->
      <li role="presentation" *ngIf="username" (click)="goToProfile()" class="header-navs">Profile</li>
      <li role="presentation" (click)="goToAdmin()" class="header-navs">Admin</li>
      
    </ul>
    <!-- <li role="presentation" *ngIf="username"  class="header-navs">Profile</li> -->
  </div>
</div>