h2{
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
}

.thumbContainer{
    width:250px;
    height:300px;
    
}

.top{
    margin-top:2%;
}
label{
    text-align: left;
    color: cornflowerblue;
    font-weight: bold;
}
textarea{
    width: 300px;
    height:100px;
}